@media only screen and (max-width: 768px) { .xs-dis-block { display: block } }

#guitar-tuner {
  margin: 30px 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#guitar-tuner-img {
  width: 100%;
  height: 100%;
  padding-right: 5.5vw;
}

@media only screen and (max-width: 768px) {
  #guitar-tuner {
    margin-top: 0;
  }
  #guitar-tuner-img {
    padding-right: 0;
  }
}

[id$="-fill"] { 
  display: none;
}

.match-circle {
  border-radius: 100%;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35%;
  margin-left: -35%;
  /* transition: transform 200ms ease; */
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  transform-origin: center center;
}

#match-circle-l {
  background: #e25d1b;
  /* background: #e25d1b7c; */
  transform: translateX(125%);
}

#match-circle-r {
  font-size: 10vw;
  background: rgba(67, 111, 142, 0.125);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.15); */
  /* background: #cae1ff77; */
  /* background: #cae1ff; */
  /* transform: translateX(9.5vw); */
}

#inner-circle {
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.125);
}

#match-circle-r.with-text {
  font-size: 2.5vw;
  color: rgb(67,111,142);
}

@media only screen and (max-width: 768px) {
  #match-circle-r.with-text {
    font-size: 8.5vw;
  }
}

#audio-start {
  width: 135px;
  height: 135px;
  top: 50%;
  margin-top: -67.5px;
  left: -67.5px;
}

#audio-pause {
  width: 45px;
  height: 45px;
  display: none;
  position: absolute;
  left: 1.5px;
  bottom: 1.5px;
  margin-left: -22.5px;
  margin-bottom: -11.25px;
}

@media only screen and (max-width: 768px) {
  #audio-start {
    top: 0;
    left: 50%;
    margin-left: -67.5px;
  }
  #audio-pause {
    left: 50%;
    margin-bottom: -22.5px;
  }
}

.tune-text {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  font-size: 1.6vw;
  color: rgb(67,111,142);
  transition: transform 350ms ease;
}

#tune-up-text { 
  top: .5vw; 
  transform: translateY(-3vw);
}

#tune-down-text { 
  bottom: .5vw; 
  transform: translateY(3vw);
}

.tune-text.show {
  transform: translateY(0)!important;
}

.audio-button {
  background: #fbfbfb;
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 1s ease;
  border-radius: 100%;
  /* margin-bottom: 20px; */
}

.square-ratio {
  position: relative;
}
.square-ratio::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}
.square-ratio::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

#tune-up-box {
  position: absolute;
  border: .2vw solid rgb(67,111,142);
  background: #fbfbfb;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  #tune-up-box {
    border: .3vw solid rgb(67,111,142);
  }
}

@media only screen and (max-width: 768px) {
  #tune-up-box {
    border: .7vw solid rgb(67,111,142);
  }
  .square-ratio {
    margin-top: -15vw;
  }
}

@media only screen and (min-aspect-ratio: 21/9) {
  #guitar-tuner {
    padding: 0 8.5vw;
  }
}

.tuners-privacy-box {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  text-align: center;
  min-height: 150px;
  max-width: 500px;
  margin: auto;
  /* margin-top: -16.5vw; */
  padding: 0 1vw;
  /* top: -12.5vw; */
  color: rgb(67,111,142);
}

.shrink-animation, .blob-animation {
  transform-origin: center center;
  animation-duration: 125ms;
  animation-timing-function: ease;
}

.shrink-animation {
  animation-name: shrink-animation;
}

.blob-animation {
  animation-name: blob-animation;
}

.shockwave {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: #e25c1b;
  animation-name: shockwave;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in; }

@keyframes shockwave {
  0% {
    transform: scale(1);
    opacity: 1; 
    box-shadow: 0 0 2px, inset 0 0 1px; }
  89.9999% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px, inset 0 0 10px; }
  90%, 100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 2px, inset 0 0 1px; }
}
@keyframes shrink-animation {
  0% { transform : translateY(-10vw) scale(3) }
  100% { transform: translateY(0) scale(1) }
}
@keyframes blob-animation {
  0% { transform : translateY(10vw) scale(0.33) }
  100% { transform: translateY(0) scale(1) }
}
